[Unit]
Description=Run web2art Periodically
Requires=web2art.example.service

[Timer]
Unit=web2art.example.service
OnCalendar=*-*-* 00:30:00

[Install]
WantedBy=timers.target
